body {
  background-color: #202731;
  text-align: center;
  font-size: 18px;
  color: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
  padding: 10% 10px 0 10px;
  line-height: 3em;
  max-width: 1000px;
  margin: 0 auto;
  background:url("background.jpg") no-repeat fixed center center / 150% 150% #145868;
}

.warnarea{
  position:relative;
  background-color:#E74C3C;
  padding:25px;
  color:#FFFFFF;
  margin-bottom:25px;
  transition-duration:0.2s;
  overflow:hidden;
}

a {
  color: #d0d0d0;
  text-decoration: none;
  border-bottom: 2px solid rgba(166, 169, 173,0.3);
  padding-bottom: 5px;
}

.hideme {
  display:none
}

.picked {
  background-color: #ff8708;
  font-weight: bold;
  font-size: 18px;
  padding: 5px;
  margin: 5px;
}

.clickable {
  background-color: #238c1c;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
}

.header {
  background-color: #0087F7;
}

.content {
  background-color: #0087F7;
  padding: 8px;
}

.footer {
  background-color: #0087F7;
}

#not_chrome {
  background-color: #ff0000;
  font-size:22px;
}
