#pwmpicker {
  padding: 10px 0;
  height: 65px;
}

#pathedit {
  padding-top: 10px;
  height: 65px;
  display:table
}

.pathedit:hover { 
  background-color: #CCD7E2;
}

.daybox {
  padding: 5px;
  margin: 0 10px 10px 0;
  border:2px solid #CCD7E2;
  border-radius:3px;
  cursor: pointer;
}

.countbar {
  font-size:16px;
  padding-left:50px;
  margin-bottom:10px;
  overflow:auto
}

.counttime {
  display:block;
  float:left;
  width:26.5%;
}

.countfirst {
  width:24%;
}

.countmiddle {
  width:24.75%;
}

.countend {
  float:right
}

svg#dayplanner{
  width:calc(100% - 50px);
  border:1px solid #CCD7E2;
  margin:10px 0 0 50px;
}
.daysvgbox{
  position:relative;
  margin-top:15px;
}
.percentbar{
  font-size: 16px;
  height:100%;
  width:50px;
  display:block;
  position:absolute;
  margin-top:-4px
}
.percent{
  height:23.5%;
}

@media screen and (max-width:700px) {
  .percentbar{
     display:none
   }
  svg#dayplanner{
    width:100%;
    margin:10px 0 0 0;
  }
  .countbar {
    padding-left:0px;
  }
}
