#pwmpicker {
  padding: 10px 0;
  height: 65px;
}

#pathedit {
  padding-top: 10px;
  height: 65px;
  display:table
}

.pathedit:hover { 
  background-color: #CCD7E2;
}

.daybox {
  padding: 5px;
  margin: 0 10px 10px 0;
  border:2px solid #CCD7E2;
  border-radius:3px;
  cursor: pointer;
}

.countbar {
  font-size:16px
}

.counttime {
  display:block;
  float:left;
  width:26.5%;
}

.countfirst {
  width:24%;
}

.countmiddle {
  width:24.75%;
}

.countend {
  float:right
}
